@import url( https://fonts.googleapis.com/css?family=Quantico );

html{
    font-family: 'Quantico', sans-serif;
    margin: 0;
    padding: 0
}
body{
    font-family: 'Quantico', sans-serif;
    margin: 0;
    padding: 0
}